In [1]:
from imports import *
from acquire import *
from prepare import *

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

|  Variables             |    Definition                              |    DataType             |
| :--------------------:   | :----------------------------------------: | :--------------------: |
order_date (index)    |  Date order was placed                          |  datetime64[ns]    |
order_id              |  Order identifier assigned to each product name for each order | object |
ship_date             |  Date order was shipped                         | datetime64[ns]       |
ship_mode             |  Mode of shipping for delivery:  'Standard Class', 'First Class', 'Second Class', 'Same Day'  | object      |
segment               |  Customer type: Consumer, Cooperate, Home Office  |  object     |
country               |  Country to which shipment was delivered: 'United States'  |    object   |
city                  |  City to which shipment was delivered  |  object    |
state                 |  State to which shipment was delivered  |  object    |
postal_code           |  Postal code to which shipment was delivered   |  float64   |
sales                 |  Sale total for product id * quantity in given order ($USD)  | float64     |
quantity              |  Total number of specified product ordered  | float64     |
discount              |  Percentage of discount applied to order in decimal form  | float64     |
profit                |  Sales - Product Cost  | float64     |
category              |  Category the product belongs to  | object    |
sub-category          |  Subcategory the product belongs to  |  object    |
customer_name         |  Name of customer   | object     |
product_name          |  Name of product  |  object    |
region_name           |  General area of US where order was placed: 'Central', 'South', 'East', 'West'  |  object    |
days_to_ship *        |  Number of days from order_date to ship_date  |  int64    |
| * | feature engineered | |

### Project Description

> "Superstore's mission is to be the preferred supplier of workspace solutions; from home-office to cooperate office, we aspire to be the leading expert in workplace solutions for everyone! For this reason, it is important to know whether we are reaching everyone with our products and services. This project will use exploration, modeling, and statistics to identify the best product line for Superstore in regards to expansion efforts and will provide recommendations on where to shift our company focus in order to maintain happy loyal customers while continuing to grow our product base."

Rachel Robbins-Mayweather  
CEO

In [4]:
df=get_data()
df=prep_data(df)
train,test=split_data(df)

Reading from local CSV...

/Users/hinzlehome/codeup-data-science/time-series-project/prepare.py:28: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  train = df['2014':'2016']
/Users/hinzlehome/codeup-data-science/time-series-project/prepare.py:29: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  test = df['2017']

In [7]:
drops=[
	'country',
	
]
test.drop(drops,axis=1)
train.drop(drops,axis=1)

,order_id,order_date,ship_date,ship_mode,customer_id,segment,city,state,postal_code,product_id,sales,quantity,discount,profit,category_id,region_id,category,product_name,customer_name,region_name,profit_per_product,sales_per_product
order_date,,,,,,,,,,,,,,,,,,,,,,
2016-11-08,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,Henderson,Kentucky,42420.0,FUR-BO-10001798,261.9600,2.0,0.00,41.9136,1,1,Furniture,Bush Somerset Collection Bookcase,Claire Gute,South,20.9568,130.9800
2016-11-08,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,Henderson,Kentucky,42420.0,FUR-CH-10000454,731.9400,3.0,0.00,219.5820,2,1,Furniture,"Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back",Claire Gute,South,73.1940,243.9800
2016-06-12,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Corporate,Los Angeles,California,90036.0,OFF-LA-10000240,14.6200,2.0,0.00,6.8714,3,2,Office Supplies,Self-Adhesive Address Labels for Typewriters by Universal,Darrin Van Huff,West,3.4357,7.3100
2015-10-11,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,Fort Lauderdale,Florida,33311.0,FUR-TA-10000577,957.5775,5.0,0.45,-383.0310,4,1,Furniture,Bretford CR4500 Series Slim Rectangular Table,Sean O'Donnell,South,-76.6062,191.5155
2015-10-11,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,Fort Lauderdale,Florida,33311.0,OFF-ST-10000760,22.3680,2.0,0.20,2.5164,5,1,Office Supplies,Eldon Fold 'N Roll Cart System,Sean O'Donnell,South,1.2582,11.1840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-02-07,CA-2016-106894,2016-02-07,2016-02-07,Same Day,CA-12265,Consumer,Springfield,Virginia,22153.0,OFF-LA-10001045,7.8300,3.0,0.00,3.6018,3,1,Office Supplies,Permanent Self-Adhesive File Folder Labels for Typewriters by Universal,Christina Anderson,South,1.2006,2.6100
2014-09-28,CA-2014-125136,2014-09-28,2014-10-03,Standard Class,KD-16495,Corporate,Fayetteville,North Carolina,28314.0,OFF-PA-10001457,96.2560,8.0,0.20,31.2832,11,1,Office Supplies,White GlueTop Scratch Pads,Keith Dawkins,South,3.9104,12.0320
2014-09-28,CA-2014-125136,2014-09-28,2014-10-03,Standard Class,KD-16495,Corporate,Fayetteville,North Carolina,28314.0,OFF-PA-10001804,10.6880,2.0,0.20,3.7408,11,1,Office Supplies,Xerox 195,Keith Dawkins,South,1.8704,5.3440
2016-07-10,US-2016-131149,2016-07-10,2016-07-14,Standard Class,LH-17155,Consumer,Dallas,Texas,75081.0,OFF-ST-10000689,338.0400,3.0,0.20,-33.8040,5,3,Office Supplies,"Fellowes Strictly Business Drawer File, Letter/Legal Size",Logan Haushalter,Central,-11.2680,112.6800
2016-07-10,US-2016-131149,2016-07-10,2016-07-14,Standard Class,LH-17155,Consumer,Dallas,Texas,75081.0,OFF-AR-10002135,154.2400,4.0,0.20,17.3520,7,3,Office Supplies,Boston Heavy-Duty Trimline Electric Pencil Sharpeners,Logan Haushalter,Central,4.3380,38.5600

In [10]:
tech=train.groupby('category').sum()

In [11]:
tech

,postal_code,sales,quantity,discount,profit,category_id,region_id,profit_per_product,sales_per_product
category,,,,,,,,,
Furniture,13621668.0,106508.7233,1018.0,43.44,-5.6456,1020,669,422.2171,26329.6578
Office Supplies,39788679.0,85854.8150,2855.0,120.60,13927.3864,6642,2057,3594.6844,23199.5020
Technology,13191760.0,108100.9940,891.0,33.00,17351.6535,2460,623,4681.8212,26275.9370

In [20]:
train.sort_values('profit_per_product',ascending=False)

AttributeError: 'DataFrame' object has no attribute 'technology'