In [4]:
from imports import *
from acquire import *

In [5]:
df=get_data()

Reading from local CSV...

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1734 entries, 0 to 1733
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       1734 non-null   object
 1   Order Date     1734 non-null   object
 2   Ship Date      1734 non-null   object
 3   Ship Mode      1734 non-null   object
 4   Customer ID    1734 non-null   object
 5   Segment        1734 non-null   object
 6   Country        1734 non-null   object
 7   City           1734 non-null   object
 8   State          1734 non-null   object
 9   Postal Code    1734 non-null   float64
 10  Product ID     1734 non-null   object
 11  Sales          1734 non-null   float64
 12  Quantity       1734 non-null   float64
 13  Discount       1734 non-null   float64
 14  Profit         1734 non-null   float64
 15  Category ID    1734 non-null   int64
 16  Region ID      1734 non-null   int64
 17  Category       1734 non-null   object
 18  Product Name   1734 non-null   object
 19  Customer Name  1734 non-null   object
 20  Region Name    1734 non-null   object
dtypes: float64(5), int64(2), object(14)
memory usage: 284.6+ KB

In [14]:
def prep_data(df):
    for col in df.columns:
        df = df.rename(columns={col: col.lower().replace(' ', '_')})
    return df

In [15]:
df=prep_data(df)

In [16]:
df.head()

,order_id,order_date,ship_date,ship_mode,customer_id,segment,country,city,state,postal_code,product_id,sales,quantity,discount,profit,category_id,region_id,category,product_name,customer_name,region_name
0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,42420.0,FUR-BO-10001798,261.9600,2.0,0.00,41.9136,1,1,Furniture,Bush Somerset Collection Bookcase,Claire Gute,South
1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,42420.0,FUR-CH-10000454,731.9400,3.0,0.00,219.5820,2,1,Furniture,"Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back",Claire Gute,South
2,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Corporate,United States,Los Angeles,California,90036.0,OFF-LA-10000240,14.6200,2.0,0.00,6.8714,3,2,Office Supplies,Self-Adhesive Address Labels for Typewriters by Universal,Darrin Van Huff,West
3,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,33311.0,FUR-TA-10000577,957.5775,5.0,0.45,-383.0310,4,1,Furniture,Bretford CR4500 Series Slim Rectangular Table,Sean O'Donnell,South
4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,33311.0,OFF-ST-10000760,22.3680,2.0,0.20,2.5164,5,1,Office Supplies,Eldon Fold 'N Roll Cart System,Sean O'Donnell,South

In [ ]:
drops=[
	'country',
	
]

In [18]:
df.country.value_counts()

United States    1734
Name: country, dtype: int64